<div class="profile-banner" [style]="'background-image: url(' + (userPhotos.backgroundPhoto ? userPhotos.backgroundPhoto : 'img/bg/1.jpg') + ')'"
></div>


<section class="vine-main">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 aos-init aos-animate" data-aos="fade-right" data-aos-easing="linear">

                <div class="user-profile-img">
                    <img  [src]="(userPhotos.profilePhoto ? userPhotos.profilePhoto : 'img/avatar/default.png' ) "alt="img">
                </div>

                <div class="user-profile-details">
                    <div class="user-profile-name">
                        <h4>{{user.username}}</h4>
                        <p> {{user.uniqueName}} </p>
                        <p class="fs-7 mt-3">Joined {{user.joinedDate | date:'MMM yyyy'}}</p>
                    </div>
                    <div class="user-profile-stats">
                        <ul>
                            <li><span class="item-number">2.1k</span> <span class="item-text">Followers</span></li>
                            <li><span class="item-number">400</span> <span class="item-text">Following</span></li>
                            <!-- <li> <a href="javascript:void(0)" class="btn btn-sm btn-mint rounded-pill"> Follow</a> </li> -->
                        </ul>
                    </div>
                    <div class="user-profile-followers">
                        <h6 class="mb-3">Followers</h6>
                        <ul>
                            <li><a href="#"><img src="img/avatar/default.png" alt="User"></a></li>
                            <li><a href="#"><img src="img/avatar/7.jpg" alt="User"></a></li>
                            <li><a href="#"><img src="img/avatar/8.jpg" alt="User"></a></li>
                            <li><a href="#"><img src="img/avatar/9.jpg" alt="User"></a></li>
                            <li><a href="#"><img src="img/avatar/10.jpg" alt="User"></a></li>
                            <li><a href="#"><img src="img/avatar/11.jpg" alt="User"></a></li>
                        </ul>
                        <h6 class="mt-3"><a href="">View All</a></h6>
                    </div>

                    <ul class="achivement-fact">
                        <li>
                            <div class="icon"><i class="bi bi-layers"></i></div>
                            <h5 class="counter">110</h5>
                            <p>Posts</p>
                        </li>
                        <li>
                            <div class="icon"><i class="bi bi-chat-dots"></i></div>
                            <h5 class="counter">14,319</h5>
                            <p>Comments</p>
                        </li>
                        <li>
                            <div class="icon"><i class="bi bi-heart"></i></div>
                            <h5 class="counter">540</h5>
                            <p>Likes</p>
                        </li>
                    </ul>

                    <div class="user-profile-bio">
                        <h6 class="mb-3">About</h6>
                        <p> {{user.bio}} </p>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-9">

                <div class="row g-4 aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear">
                    <div class="col-12">
                        <div class="vine-tabs pb-0 px-2 px-lg-0 rounded-top">
                            <ul class="nav nav-tabs nav-bottom-line nav-responsive border-0 nav-justified"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1"
                                        aria-selected="true" role="tab">
                                        <i class="bi bi-gear fa-fw me-2"></i>Posts
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-2" aria-selected="false"
                                        role="tab" tabindex="-1">
                                        <i class="bi bi-chat-dots fa-fw me-2"></i>Comments
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3" aria-selected="false"
                                        role="tab" tabindex="-1">
                                        <i class="bi bi-people me-2"></i> Following
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-4" aria-selected="false"
                                        role="tab" tabindex="-1">
                                        <i class="bi bi-people me-2"></i> Followers
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

              
            </div><!--/col-lg-9-->

        </div>
    </div>
</section>