<div class="vine-wrapper">
  
  <ngx-ui-loader
  [bgsColor]="'transparent'"
  [bgsOpacity]="1"
  [hasProgressBar]="false"
  [fgsColor]="'#87bf17'"
  [fgsType]="'ball-scale-multiple'"
  
></ngx-ui-loader>

<!-- Your other content -->

  <router-outlet></router-outlet> 

  <!-- Scroll to Top Button -->
  <button class="scroll-to-top-btn" 
          [class.show]="showScrollTop" 
          (click)="scrollToTop()" 
          title="Go to top">
    <i class="bi bi-arrow-up-short"></i>
  </button>
</div>
