<!-- ==============================================
Navbar
=============================================== -->

<!-- Switcher Icon -->
<div class="switcher switcher-show" id="theme-switcher">
  <i id="switcher-icon" class="bi bi-moon"></i>
</div>


<header class="vine-navbar fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container align-items-center">
      <div class="logo">
        <a class="navbar-brand" type="button" (click)="test()">
          <!-- <img class="logo-dark" src="img/logo dark.png" alt="Logo"> -->

          <h1  class="fitmind-text">Fit Mind</h1>
        </a>
      </div>
      <div class="offcanvas nav-offcanvas offcanvas-start" tabindex="-1" id="offcanvas_Header_01"
        aria-labelledby="offcanvas_Header_01">

        <div class="offcanvas-body">

          <!-- Nav Search START -->
          <div class="col-xl-12">
            <div class="nav mt-3 mt-lg-0 px-lg-4 flex-nowrap align-items-center">
              <div class="search-form nav-item w-100">
                <form class="rounded position-relative">
                  <input class="ps-5 bg-opacity-10 border-0" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn bg-transparent px-3 position-absolute top-50 start-0 translate-middle-y"
                    type="submit"><i class="bi bi-search fs-6 text-green pe-2"></i></button>
                </form>
              </div>
            </div>
          </div>
          <!-- Nav Search END -->

        </div>
      </div>

      <a href="" class="btn btn-md btn-mint rounded-pill" data-bs-toggle="modal"
        [attr.data-bs-target]="loginModal">Login</a>
      <div class="header-end d-flex justify-content-end">
        <!-- Translate dropdown START -->
        <div class="nav-item dropdown h-col d-none d-lg-block">
          <a class="h-translate-icon h-icon" href="#" id="languageDropdown" role="button" data-bs-auto-close="outside"
            data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots"></i>

          </a>
          <ul class="dropdown-menu dropdown-animation dropdown-menu-end min-w-auto mt-2"
            aria-labelledby="languageDropdown">

            <li> <a class="dropdown-item me-4" href="" data-bs-toggle="modal" [attr.data-bs-target]="loginModal"><i
                  class="bi bi-box-arrow-in-right me-2"></i>Login</a> </li>

            <li> <a class="dropdown-item me-4" href="" data-bs-toggle="modal" [attr.data-bs-target]="emailVarificationModal"><i
                  class="bi bi-person-plus me-2"></i>Register</a>
            </li>

            <li> <a class="dropdown-item me-4" href="#"><i class="bi bi-envelope me-2"></i>Contact</a> </li>
            <li> <a class="dropdown-item me-4" routerLink="/register"><i class="bi bi-envelope me-2"></i>Registration page</a> </li>
            <li> <!-- Button trigger modal -->

            </li>
          </ul>
        </div>
        <!-- Translate dropdown END -->
      </div>


    </div>
  </nav>
</header>
