<!-- ==============================================
  Hero
  =============================================== -->
<section class="vine-hero-2 bg-img-1">
  <div class="container">
    <div class="row">

      <!-- HERO TEXT -->
      <div class="col-lg-12">
        <div class="hero-content" data-aos="fade-down" data-aos-easing="linear">

          <!-- Title -->
          <h1>Stay Fit, Stay Strong</h1>

          <!-- Text -->
          <p>Ask fitness questions, share workout tips, and connect with the gym community.</p>


        </div>
      </div> <!-- END HERO TEXT -->


    </div>
  </div>
</section>
