<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">Forgot Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendFPEmail()">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@email.com">
            <span class="text-danger small"
              *ngIf="forgotPasswordForm.controls['email'].errors?.['required'] && forgotPasswordForm.controls['email'].touched">
              Email is required.
            </span>
            <span class="text-danger small"
              *ngIf="forgotPasswordForm.controls['email'].errors?.['pattern'] && forgotPasswordForm.controls['email'].touched">
              Invalid Email address.
            </span>
          </div>
          <div  *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
                <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>

          <div class="mb-4">
            <button type="submit" class="w-100 btn btn-mint"  [disabled]="loading || forgotPasswordForm.invalid" >{{emailSentingFormButton}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

