<div class="filter">
  <form class="form">
    <div class="filter-toolbar">
      <div class="filter-item" id="category">
        <label>Category</label>
        <a class="filter-item-content dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <span class="filter-value">All </span>
          <span class="dropdown-btn"></span>
        </a>
        <ul class="dropdown-menu dropdown-2x">
          <li class="selected">All </li>
          <li>Community </li>
          <li>Design </li>
          <li>AI </li>
          <li>Crypto & NFT </li>
          <li>Growth Hacking </li>
          <li>Products </li>
          <li>Feedback </li>
          <li>Ideas & Validation </li>
          <li>Marketing & SEO </li>
          <li>SAAS </li>
          <li>Developers </li>
          <li>No Code </li>
          <li>Remote Working </li>
          <li>Side Project </li>
          <li>Maker Mindset </li>
          <li>Recommendations</li>
          <li>Partner Up </li>
        </ul>
      </div>
      <div class="filter-item" id="type">
        <label>Time</label>
        <a class="filter-item-content dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <span class="filter-value">All </span>
          <span class="dropdown-btn"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="selected">All </li>
          <li>Now </li>
          <li>Week </li>
          <li>Month </li>
          <li>Year </li>
        </ul>
      </div>
      <div class="filter-item" id="sorting">
        <label>Sorting</label>
        <a class="filter-item-content dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <span class="filter-value">Upvotes </span>
          <span class="dropdown-btn"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="selected">Upvotes </li>
          <li>Popular </li>
          <li>Pinned </li>
          <li>Comments </li>
        </ul>
      </div>
      <!-- Nav Search START -->
      <div class="w-100 mt-3 mb-3">
        <div class="nav px-4 flex-nowrap align-items-center">
          <div class="search-form nav-item w-100">
              <input class="border-0" type="search" placeholder="Search" aria-label="Search">
          </div>
        </div>
      </div>
      <!-- Nav Search END -->
      <button type="submit" class="btn btn-md btn-mint">Apply</button>
    </div>
  </form>
</div><!--/filter-->

<div class="discussions">

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/1.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#">Abram Marvyn</a> <i class="bi bi-patch-check-fill text-red"></i></div>
            <div class="fs-7"><span> 01 hrs ago in </span> <a href="#" class="cat">AI</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <p class="me-2 text-danger d-flex"><i class="bi bi-pin"></i> <span class="d-none d-sm-block">Pinned</span></p>
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">Do you think BARD will overtake ChatGPT?</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">AI</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/7.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/8.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/9.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/10.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/11.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

    </div>
  </div><!--/post-box-->

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/2.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#">Adaline Riley</a></div>
            <div class="fs-7"><span> 03 hrs ago in </span> <a href="#" class="cat">AI</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">What is your favorite AI project you found recently?</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">AI</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/1.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/2.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/3.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/4.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/5.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

      </div>
  </div><!--/post-box-->

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/3.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#">Buster Jayden</a></div>
            <div class="fs-7"><span> 03 hrs ago in </span> <a href="#" class="cat">Products</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">Who all are launching their Products this week?</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">Business</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/7.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/8.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/9.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/10.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/11.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

      </div>
  </div><!--/post-box-->

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/4.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#"> Louisa Triston </a></div>
            <div class="fs-7"><span> 05 hrs ago in </span> <a href="#" class="cat">Ideas and Validation</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">I'm Loisa, Manager at ApexCodeStudios, Ask me anything!</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">Business</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/1.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/2.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/3.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/4.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/5.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

      </div>
  </div><!--/post-box-->

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/5.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#">Damon Tucker</a></div>
            <div class="fs-7"><span> 07 hrs ago in </span> <a href="#" class="cat">Feedback</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">Would you like to have a 4-day workweek? And how would you compensate the extra day off?</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">Business</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/7.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/8.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/9.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/10.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/11.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

      </div>
  </div><!--/post-box-->

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/6.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#"> Charlene Cross</a></div>
            <div class="fs-7"><span> 9 hrs ago in </span> <a href="#" class="cat">Feedback</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">Entrepreneur Vs Employee, What would you choose and why?</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">Business</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/1.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/2.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/3.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/4.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/5.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

      </div>
  </div><!--/post-box-->

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/7.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#">Rafael Frank</a></div>
            <div class="fs-7"><span> 10 hrs ago in </span> <a href="#" class="cat">Feedback</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">What was the biggest risk you took in your startup, and what did you learn from it?</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">Business</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/7.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/8.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/9.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/10.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/11.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

      </div>
  </div><!--/post-box-->

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/8.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#"> Lynda Briggs</a></div>
            <div class="fs-7"><span> 12 hrs ago in </span> <a href="#" class="cat">Products</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">What are the biggest challenges you faced while building your product and how did you solve for it?</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">Business</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/1.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/2.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/3.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/4.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/5.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

      </div>
  </div><!--/post-box-->

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/9.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#">Bernard Holt</a></div>
            <div class="fs-7"><span> 13 hrs ago in </span> <a href="#" class="cat">AI</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">Are you building on ChatGPT, GPT3 or Dall-E, do share your projects!</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">Business</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/7.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/8.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/9.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/10.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/11.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

      </div>
  </div><!--/post-box-->

  <div class="post-box d-flex" data-aos="fade-up" data-aos-easing="linear">
    <div class="vote d-none d-lg-block">
      <a href="" class="up-arrow"><i class="bi bi-hand-thumbs-up"></i></a>
      <p class="mb-3">70</p>
      <p>24</p>
      <a href="" class="down-arrow"><i class="bi bi-hand-thumbs-down"></i></a>
    </div>
    <div class="card">
      <div class="card-header card-header-action">
        <div class="media align-items-center">
          <div class="media-head me-2">
            <div class="avatar">
              <a href="#"><img src="/img/avatar/10.jpg" alt="user" class="avatar-img rounded-circle"></a>
            </div>
          </div>
          <div class="media-body">
            <div><a href="#"> Krista Haynes</a></div>
            <div class="fs-7"><span> 15 hrs ago in </span> <a href="#" class="cat">AI</a></div>
          </div>
        </div>
        <div class="card-action-wrap">
          <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i> Edit Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-eye-slash me-2"></i> Hide Post</a>
            <a class="dropdown-item" href="#"><i class="bi bi-trash3 me-2"></i> Delete Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-pin me-2"></i> Pin Post</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3>
           <a href="">Will AI disrupt Enterprise Saas?</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et facilis, soluta vitae porro, praesentium deserunt explicabo optio laborum.
          Quidem consequuntur modi atque, placeat repellat, perferendis aperiam, fugiat harum ullam aspernatur dicta doloribus qui quo corrupti natus reprehenderit...
        </p>

        <div class="tags">
          <a href="#" class="tag-link">Feedback</a>
          <a href="#" class="tag-link">Business</a>
          <a href="#" class="tag-link">Products</a>
          <a href="#" class="tag-link">Future</a>
        </div>
      </div>

      <div class="card-footer">

        <div class="post-stats">
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-up"></i></div>
             <div class="post-text">70</div>
             </a>
          </div>
          <div class="post-item d-lg-none d-xl-none">
             <a href="#">
             <div class="post-icon"><i class="bi bi-hand-thumbs-down"></i></div>
             <div class="post-text">24</div>
             </a>
          </div>
          <div class="post-item">
             <ul>
              <li><a href="#"><img src="/img/avatar/1.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/2.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/3.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/4.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/5.jpg" alt="User"></a></li>
              <li><a href="#"><img src="/img/avatar/6.jpg" alt="User"></a></li>
             </ul>
             <div class="post-text">+170</div>
             <div class="post-text">Views</div>
          </div>
          <div class="post-item me-lg-5">
             <a href="#">
              <div class="post-icon"><i class="bi bi-chat-dots"></i></div>
              <div class="post-text">1200</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-bookmark"></i></div>
             <div class="post-text">32</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-share"></i></div>
             <div class="post-text">12</div>
             </a>
          </div>
          <div class="post-item">
             <a href="#">
             <div class="post-icon"><i class="bi bi-flag"></i></div>
             <div class="post-text">Report</div>
             </a>
          </div>
         </div>

      </div>

      </div>
  </div><!--/post-box-->

</div><!--/discussions-->

<div class="pagination ps-lg-3" data-aos="fade-up" data-aos-easing="linear">

  <a href="#" class="page-numbers btn-start">
    <i class="b bi-chevron-double-left"></i>
  </a>

  <a href="#" class="page-numbers btn--prev">
    <i class="bi bi-chevron-left"></i>
  </a>
  <span class="page-numbers pagination-space"> <i class="bi bi-three-dots"></i> </span>
  <a href="#" class="page-numbers current"><span>1</span></a>
  <a href="#" class="page-numbers"><span>2</span></a>
  <a href="#" class="page-numbers"><span>3</span></a>
  <a href="#" class="page-numbers"><span>4</span></a>
  <a href="#" class="page-numbers"><span>5</span></a>
  <a href="#" class="page-numbers"><span>6</span></a>

  <span class="page-numbers pagination-space"> <i class="bi bi-three-dots"></i></span>
  <a href="#" class="page-numbers btn--next">
     <i class="bi bi-chevron-right"></i>
  </a>

  <a href="#" class="page-numbers btn-end">
    <i class="bi bi-chevron-double-right"></i>
  </a>

  <span class="page-numbers all-pages">
    70 Pages
  </span>

</div><!--/pagination-->
