 <div class="vine-categories mb-4">
   <h4 class="section-title">Categories</h4>

   <!-- Loading State -->
   @if(loading){
     <div class="d-flex justify-content-center p-3">
       <div class="spinner-border text-secondary" role="status">
         <span class="visually-hidden">Loading...</span>
       </div>
     </div>
   }
 
   <!-- Error Handling -->
   @else if (this.errorMessage) {
     <div class="alert alert-warning p-2 small"> {{this.errorMessage}} </div>
   }
 
   <!-- Categories List -->
   <ul class="list-unstyled m-0">
     @for (item of this.categories; track $index) {
       @if (item.isActive) {
         <li data-aos="fade-up" data-aos-easing="linear">
           <a class="category-item" href="#">
             <img [src]="item.imageUrl" class="category-icon" alt="{{item.name}}">
             <span class="category-name"> {{item.name}} </span>
           </a>
         </li>
       }
     }
   </ul>
 </div>
